*{
    padding:0;
    margin:0;
    box-sizing: border-box;

}

/*? CSS Nesting: The CSS nesting module defines a syntax for nesting selectors, providing the ability to nest one style rule inside another, with the selector of the child rule relative to the selector of the parent rule.  */

/*? The writing-mode property specifies whether lines of text are laid out horizontally or vertically. */
/* writing-mode: horizontal-tb|vertical-rl|vertical-lr; */

:root{

    --change-color:white; 
    --background-color:rgba(0, 0, 0, 0.699);
    --font-change:normal;
}

body{
    width:100%;
    height:100vh;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color:var(--change-color);
}



.Box-1{

    width:800px;
    height:500px;
    padding-left:100px;
    margin-top: 200px;
    position: relative;

    /*nesting of css*/
   
    & h1{
        font-size: 3rem;
        color: var(--change-color);
        font-weight: bold;
        padding-bottom: 150px;
        font-style: var(--font-change);
        text-align: center;
        border: 3px solid red;

        writing-mode: vertical-lr;
         /*vertical left to right*/

         position: absolute;
         left:5px;
        
       &::before{
        content: "*";
    }
    
    }
    
      p{
        font-size: 1.5rem;
        color:var(--change-color);
        padding-bottom: 50px;
        font-style: var(--font-change);
        padding-left: 20px;
        
    }

}



.Box-1 {
    
    a{
    background-color:var(--background-color);
    display: inline-block;
    width:200px;
    height:50px;
    padding: 10px;
    border:4px solid white;
    border-radius: 4px;
    text-align: center;
   }

     a{
        color:var(--change-color);
        text-decoration: none;
        font-size: 1.5rem;
      
    }

    a:hover{

        background-color: white;
        color: black;
    }
    
}


.Box-2 img
{
    width:600px;
    height:600px;
    margin-top:50px;
    
}

